* {
  box-sizing: border-box;
}
body {
  background-color: #dbd7d3;
  margin: 0px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    margin-bottom: -100px;
    color:rgb(39, 39, 39);
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* margin: 0px; */
}
.formContainer {
    margin-top: auto;
    margin-bottom: auto;
}
.form {
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
  border-radius: 8px;
  background-color: #f6f4f3;
  height: 100%;
  min-width: 300px;
  animation: fadeIn 300ms linear;
}

label {
    font-family: 'Open Sans';
    font-size: 13px;
    color: rgb(78, 78, 78);
}

.textInput {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  max-height: 86%;
  min-height: 86%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
}

.textInputDisplay {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    /* max-height: 45px; */
    min-height: 45px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
  }

#result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
  border-radius: 8px;
  background-color: #f6f4f3;
  height: 100%;
  animation: slideIn 300ms linear;
  margin-top: 20px;
  min-width: 300px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#canvas {
  display: block;
  width: 100%;
  margin: auto;
}

.toggleVisibility {
  display: none !important;
  animation: fadeIn 300ms linear;
}

.btn {
  margin: 10px 0px;
}

.btn-primary {
  background: linear-gradient(180deg, #3383e4, #2379e2);
  padding: 10px;
  border: 1px solid #1662be;
  border-radius: 8px;
  width: 100%;
  font-family: "Cantarell";
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* margin: 10px 0px; */
}

.btn-primary:hover {
  background: linear-gradient(180deg, #2379e2, #2f75ca);
}

.btn-primary:active {
  background: linear-gradient(180deg, #1d68c4, #337fdb);
}

.btn-primary::after {
  content: "test";
  color: red;
  position: relative;
  z-index: 2;
  top: 100px;
}

.btn-danger {
  background: linear-gradient(180deg, #dd1a23, #cf1921);
  padding: 10px;
  border: 1px solid #aa0007;
  border-radius: 8px;
  width: 100%;
  font-family: "Cantarell";
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-danger:hover {
  background: linear-gradient(180deg, #cf1921, #dd1a23);
}

.btn-danger:active {
  background: linear-gradient(180deg, #c41720, #c4161e);
}

.btn-secondary {
  background: linear-gradient(180deg, #f3f3f2, #edebea);
  padding: 10px;
  border: 1px solid #c9c6c3;
  border-radius: 8px;
  width: 100%;
  font-family: "Cantarell";
  font-weight: bold;
  color: #707070;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: linear-gradient(180deg, #edebea, #f3f3f2);
}

.btn-secondary:active {
  background: linear-gradient(180deg, #cfcfcf, #dddcdb);
}


footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(37, 37, 37);
    /* height: 100px; */
    color: rgb(155, 155, 155);
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer p {
    padding: 0px;
    margin: 0px auto 0px auto;
}

footer a {
    color: #a0a0a0;
}

footer svg path:hover {
    fill: rgb(189, 189, 189);
    cursor: pointer;
}